<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 点小组件要能打开谷雨 / 白露：安卓 11 以后得声明「我要看得到别的能打开的 App」 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>
    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConfigActivity" android:exported="true"
            android:theme="@android:style/Theme.Material.Light.Dialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver android:name=".CardWidget" android:exported="true" android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/card_widget_info" />
        </receiver>
        <!-- 谷雨 / 白露 把数据推过来（广播，只认这个动作） -->
        <receiver android:name=".DataReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.guyu.widget.UPDATE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
